<div class="card-item col">
  {% if seminar.redirect %}
  <a href="{{ seminar.redirect }}" target="_blank">
  {% else %}
  <a href="{{ seminar.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      <div class="row g-0">
        {% if seminar.img %}
        <div class="card-img col-md-3">
          <img src="{{ seminar.img | relative_url }}" alt="seminar thumbnail">
        </div>
        <div class="col-md-9">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{ seminar.title }}</h3>
            <p class="card-text">{{ seminar.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
